.login-pg{
    height: 100vh;
    /* background: rgb(2,0,36); */
    background: linear-gradient(to bottom, #260894d0, #16dbe2ef);
    display: flex;
}
  .login-form {

      float: right;
      background-color:rgba(2, 106, 218, 0.685);
      /* background-color: rgb(66,190,250); */
      width: 25%;
      height: 40vh;
      text-align: center;
      margin-top: 230px;
      margin-right: 150px;
  }
  .login-pg button{
      background-color:rgb(255, 255, 255) ;
      width: 40%;
      height: 50px;
      color: black;
      float: left;
      margin-left: 100px;
      
  }
  .login-pic{
      background-image: url('../assets/login.jpg');
      /* background-color: chartreuse; */
      /* float: left; */
      width: 50%;
      height: 100vh;
      background-size: cover;
  }
  .login-form-forgot{
      text-decoration: none;
      color: rgb(2, 2, 59);
  }
  .hd-name h2{
    background:none;
    height: 70px;
    width: 310px;
    margin-left: 15%;
    margin-top: 2%;
    color: white;
    
}
  