.login-pg{
    height: 70vh;
    background: #fafafb; 
    -webkit-box-shadow: 0 10px 6px -6px  black;; /* to have box shadow * */

    -moz-box-shadow: 0 10px 6px -6px  black;;

         box-shadow: 0 10px 6px -6px black ; 
    /* margin-top: 52vh; */
    margin-bottom: -2vh;
}
  .login-form {

      float: right;
      background-color:#fafafb;
      /* background-color: rgb(66,190,250); */
      width: 25%;
      height: 50vh;
      text-align: center;
      margin-top: 70px;
      margin-right: 150px;
  }
   .login-form h4{
       font-size: 40px;
   }
  
  .login-pg button{
      background-color:rgb(255, 255, 255) ;
      width: 40%;
      height: 50px;
      color: black;
      float: left;
      margin-left: 130px;
      margin-top: 2vh;
      
  }
  .login-pic{
      background-image: url('../assets/login.jpg');
      /* background-color: chartreuse; */
      /* float: left; */
      width: 50%;
      height: 70vh;
      background-size: cover;
  }
  .login-form-forgot{
      text-decoration: none;
      color: rgb(2, 2, 59);
  }
  