/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  */


.order-container{
    min-width: 80%;
    min-height: 60vh;
    /* background-color: rgb(242, 246, 248); */
    background-size: cover ;
    background-attachment: fixed;
    text-align: center;
    padding: 30px;
    margin-top: 60px;

}

/* .order-container h1{
    font-weight: bold;
    

} */

.order-container p{
    font-size: 30px;
    color: rgb(255,255,255,0.74);

}

.order-container h2{
    font-size: 40px;
    font-weight: bold;
    color: white;

}