.footer{
    height: 100px;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(64, 190,250);


}

p{
     text-align: center;
     text-decoration: none;
    font-size: medium;
    padding-top: 3%;
}