*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(64, 190,250);
      height: 15vh;
   width: 100%;
   /* border-radius: 5%; */
   /* padding-right: 10vh; */
    /* box-shadow: 2px 2px 2px 2px darkgrey ;  */
   display: flex;
   /* position: fixed; */
   /* padding: 15px 10px 15px 50px; */
}
/* .logo logo{
    background-color: aquamarine;
    width:100%;
    
    display: flex;
} */
.navbar-right{
   width: 95%;
   height: 60px;
    overflow: hidden;
    display: inline-block;
   /* flex-direction: column; */
   float: right;
   margin-left: 750px;
   padding: 20px;
   /* background-color: black; */
   padding-right: 15px;
   margin-left: 77px;
   margin-right: 78px;
   display: flex;
}
.sign-up{
    /* background-color: blue; */
    width: 35%;
    height: 65px;
    display: flex;
    margin-left: 30vh;
    margin-top: -0.5vh;
}
.home-bar{
    /* background-color: brown; */
    width: 50%;
    height: 65px;
    padding-left: 12px;
    padding-top: 1.5vh;
}
.search-div{
    background-color: white;
    height: 4vh;
    width: 80vh;
    display: flex;
    margin-top: 2vh;
    border-radius: 45vh;
    margin-top: 3vh;
}
.search-div p{
padding-left:7vh;
color:#C4C4C4;
margin-top:-1vh;
}
.header a{
    width: 99%;
    padding: 10px;
    font-size:19px;
    color: white;
    font-weight: bold;
    /* height: 100%; */
}
.header a:hover{
    color:white
}