*{
    margin: 0; 
    padding: 0; 
} 
.header{
   background: #42befa;
      height: 15vh; 
   width: 100%;
   /* border-radius: 5%; */
   /* padding-right: 10vh; */
    /* box-shadow: 2px 2px 2px 2px darkgrey ;  */
   display: flex;
   /* position: fixed; */
   /* padding: 15px 10px 15px 50px; */
}
.navbar-right{
   width: 95%;
   height: 60px;
    overflow: hidden; 
    display: inline-block; 
   /* flex-direction: column; */
   float: right;
   margin-left: 750px;
   padding: 20px;
   /* background-color: black; */
   padding-right: 15px;
   margin-left: 77px;
   margin-right: 78px;
   display: flex; 
}
.sign-up{
    /* background-color: blue; */
    width: 35%;
    height: 68px;
    display: flex;
    margin-left: 30vh;
    
}
.home-bar{
    /* background-color: brown; */
    width: 50%;
    height: 65px;
    padding-left: 12px;

}
.search-div{
    background-color: white;
    height: 4vh;
    width: 80vh;
    display: flex;
    margin-top: 2vh;
    border-radius: 45vh;
}
.search-div p{
padding-left:7vh;
color:#C4C4C4;
}
.header a{
    
    width: 99%;
    padding: 10px;
    font-size:19px;
    color: white;
    font-weight: bold;
    
    /* height: 100%; */
}

.header a:hover{
    
    width: 99%;
    padding: 10px;
    font-size:19px;
    color: white;
    font-weight: bold;
    
    /* height: 100%; */
}
