
.home-container{
    background: rgba(66, 190 , 250);
    width:100%;
    /* min-height:97vh; */
    background-image: url('../assets/HomePicture.jpg') ;
    background-size: cover; 
    background-attachment: fixed; 
}
.home-container1{
    min-width:100%;
    min-height:100vh;
    background: rgba(0, 22, 32, 0.637);
}
.home-container h3{
    padding-left: 860px;
color: rgba(255, 255, 255, 0.767);
text-align:none;
padding-top: 230px;
}
.home-container h1{
    /* margin-left: 860px; */
    text-align: bold;
    /* padding-left: 900px; */
    color: white;
    float: right;
}

.home-container button{
    height: 13vh;
    width: 300px;
    border-radius: 15px;
    text-align: bold;
    color: white;
    background-color: rgb(66,190,250);
    margin-top: 200px;
    float: right;
    margin-top: 100px;}

   

    

