.pharmacy-container{
    width: 100%;
    min-height: 60vh;
    background-color: rgb(242, 246, 248);
    background-size: cover ;
    background-attachment: fixed;
    margin-top: -5vh;
    /* margin: 80px; */
    

}

.pharmacy-container h1{
    color: rgb(31,39,42);
    margin: 30px;
    margin-bottom:0px;
} 

.list{

    display:flex;
margin-top: 30px;
    border-bottom: 1px solid rgb(78, 34, 9);
    background: rgb(31,39,42);
/* background: radial-gradient(circle, rgba(66,190,250,0.6895133053221288) 45%, rgba(2,106,218,1) 77%); */

    /* align-items: center; */

 

}

.listitem{

    flex-direction: column;

    padding: 30px;

    color:white;

    font-size:18px;
    font-weight: bold;

 

}

.ourpharmacy{

    /* padding-top: 30px; */

    min-height: 260px;

     -webkit-box-shadow: 0 10px 6px -6px #777; /* to have box shadow * */

     -moz-box-shadow: 0 10px 6px -6px #777;

          box-shadow: 0 10px 6px -6px #777;
          
          

 

}

.pharmacyname{

    margin: 30px;

    float: left;

    width: 200px;

    height: 220px;

    border-radius: 5px;

    padding-right: 10px;

}

.address{
    margin: 10px;

    float: left;

    width: 200px;

    height: 220px;

    border-radius: 5px;

    padding-right: 10px;

    font-size: 11px;
}

.street{
    margin: 30px;

    float: left;

    width: 200px;

    height: 220px;

    border-radius: 5px;

    padding-right: 10px;

    font-size: 11px;
}


.phone{

margin-right: 20px;    

}
.phone h1{
    font-size: 18px;
    padding-top: 82px;
    margin-left: 105px;

}
.read{

    margin-right: 30px;

    float: right;

    margin-top: -100px;

}
.read h1{
    font-size: 18px;
    padding-top: -19vh;
    margin-right:4px;
}
.ourpharmacy p{

    font-size:18px;

    color: rgba(31,39,42);

    padding:10px;

}

.ourpharmacy h3{

    font-size:18px;
    color: rgba(31,39,42);

    font-weight: bold;

    padding:10px;
    margin-bottom:0px;

}

.morebutton{

    margin-left:280px;

    color:rgb(78, 34, 9);

    font-size:18px;

    border: none;

    border-bottom: 4px solid rgb(78, 34, 9);

    background-color: white;

}

.ourpharmacy h2{

   color:#1F272A;

   font-size:18px;

   font-weight: bold;
   margin-bottom:0px;

}
